<!doctype html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

	<style>{{{css}}}</style>

</head>

<body>
	<div id="resume" style="border: 1px solid red;">
		<div id="firstPage">
			
			<div id="contentLeft" class="gridColumn blueBack">
				
				<div id="profileImageSquare" class="noOverflow">
					<div id="profileImagePicture" style="background-image: url({{resume.basics.image}})"></div>
				</div>

				<div id="leftName" class="leftColumnItem noOverflow">
					<div></div>
					<div>
						<div id="basics-name">{{resume.basics.name}}</div>
						<div id="basics-label">{{resume.basics.label}}</div>
					</div>
					<div></div>
				</div>
				<div id="leftDescription" class="noOverflow">18</div>
				<div id="leftExp" class="noOverflow">42</div>
				<div id="leftContact" class="noOverflow">17</div>
				
			</div>
			<div id="contentRight" class="gridColumn"></div>
		</div>

		{{!-- {{> basics }}
		
		{{> work }}
		{{> volunteer }}
		{{> education }}
		{{> awards }}
		{{> publications }}
		{{> skills }}
		{{> languages }}
		{{> interests }}
		{{> references }} --}}
</body>

</html>